* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 50px auto 50px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn as as"
    "ft ft ft ft ft ft ft ft ft";
  gap: 0.5rem;
}

.el {
  background-color: lightcoral;
  display: grid;
  place-content: center;
}

.header {
  grid-area: hd;
  background-color: lightskyblue;
}

.aside {
  grid-area: as;
  background-color: red;
}

.footer {
  grid-area: ft;
  background-color: lightskyblue;
}
.container {
  grid-area: mn;
  /* min-height: 400px; */
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-rows: repeat(2, 1fr 2fr); */
  /* grid-auto-columns: 150px; */
  gap: 0.5rem;
  background-color: lightgreen;
}

.box {
  background-color: black;
  border: 1px solid green;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
}

.box:first-child {
  background-color: pink;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.box:nth-child(2) {
  background-color: orange;
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}
.box:nth-child(5) {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}
