* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.section {
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 3px solid #333;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-content: space-evenly; */
  /* flex-direction: column; */
  justify-content: space-evenly;
  /* align-items: center; */
}

.box {
  min-width: 100px;
  min-height: 100px;
  background-color: black;
  color: white;
  border: 1px solid green;
  font-size: 2rem;
  padding: 0.5rem;
}
